@media (hover: hover) {
  .ssilo4ka:hover {
    transform: scale(1.02);
    opacity: 0.7;
    transition: all 0.2s ease-in;
  }
  .slider-button.active:hover {
    background: gold;
    opacity: 0.8;
    cursor: pointer !important;
  }
}
.ssilo4ka {
  color: white;
}

@media (max-width: 575px) {
  .slider {
    width: 100%;
    height: 350px;
  }
  .slider-text {
    top: 20% !important;
    text-align: center !important;
    left: 50% !important;
    margin-top: 10px;
    margin-right: 40px;
  }
  .slider-button {
    left: 50% !important;
  }
  .this-is-1 {
    width: 300px !important;
    height: 150px !important;
    top: 40%;
  }
  .this-is-2 {
    width: 300px;
    height: 100px;
    bottom: 10%;
  }
  .catalog_tovarov {
    margin-top: 10px;
  }
  .slider-button {
    top: 85% !important;
  }
  .dropdown-menu.show {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
  .card-img {
    width: 140px;
    height: 140px;
  }
  .contact_modal {
    margin-bottom: 30px;
  }
  .contact_modal_without {
    margin-bottom: 30px;
  }
  .icon_image {
    width: 32px;
    height: 32px;
  }
}

.my_brake_word {
  white-space: normal;
  overflow-wrap: break-word;
}

@media (min-width: 576px) {
  .slider {
    width: 100%;
    height: 500px;
  }
  .slider-text {
    line-height: 2;
    margin-top: 30px;
  }
  .this-is-1 {
    width: 300px !important;
    left: 10%;
  }
  .this-is-2 {
    width: 500px !important;
    left: 30%;
  }
  .this-is-3 {
    width: 400px !important;
    height: 90% !important;
    left: 20%;
    top: 5%;
  }
  .dropdown-menu.show {
    width: 100%;
  }
  .catalog_tovarov {
    margin-top: 20px;
  }
  .card-img {
    width: 180px;
    height: 180px;
  }
  .contact_modal {
    height: 250px !important;
    margin-bottom: 25px;
  }
}

@media (min-width: 1024px) {
  .slider-text {
    line-height: 5;
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .this-is-1 {
    width: 300px !important;
    left: 5%;
  }
}
.slider {
  position: relative;
  overflow: hidden;
  border: solid 2px;
  border-radius: 20px;
}

.slider-img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.7s ease;
}

.slider-img.active {
  opacity: 1;
}

.slider-controlls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider-text {
  position: absolute;
  text-align: end;
  top: 25%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}

.slider-text.active {
  opacity: 1;
}

.slider-button {
  position: absolute;
  top: 75%;
  left: 90%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}
.slider-button.active {
  opacity: 1;
  z-index: 2;
  background: gold;
}

.slider .prev {
  width: 3rem;
  left: 10px;
}

.slider .prev:hover {
  opacity: 0.7;
  cursor: pointer;
}
.slider .next {
  width: 3rem;
  right: 10px;
}

.slider .next:hover {
  opacity: 0.7;
  cursor: pointer;
}

.dropdown-menu.show {
  margin-bottom: 10px !important;
  position: relative !important;
  transform: none !important;
}

.card {
  width: 18rem;
  border-radius: 30px;
  border: solid 1px;
  transition: all 2s ease-in;
  margin-bottom: 20px;
}

.card > :hover {
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
}

.card a:hover {
  transform: scale(1.04);
}

.model_item_po4ta {
  display: flex;
  flex-wrap: nowrap;
  width: inherit;
  align-items: center;
  height: 60%;
  padding: 20px;
  flex-shrink: 0;
  border-radius: 34px;
  background: #ffffff;
  box-shadow: 15px 9px 44px -10px rgba(0, 0, 0, 0.25);
}

.model_item_po4ta img {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: auto;
  min-width: 32px;
  min-height: 32px;
  width: 8%;
  height: 8%;
}

.social-icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 40%;
  height: 50%;
}

@media (max-width: 450px) {
  .social-icons {
    width: 100%;
  }
}

.social-icon {
  transition: all 0.2s ease-in-out;
}
.social-icon img {
  min-width: 28px;
  min-height: 28px;
  width: 2vw;
  height: 2vw;
}
.social-icon:hover {
  opacity: 0.6;
}
